
  <div class="container">
    <div class="row">
      <div class="col-xs-3">
        <%= render 'users/sidebar', book: @book , user: @user %>
      </div>
      <div class="col-xs-9">
        <h2>Users</h2>
          <table>
            <thead>
              <tr>
                <th><div class="col-xs-6">image</div></th>
                <th><div class="col-xs-6">name</div></th>
                <th colspan="3"></th>
              </tr>
            </thead>
            <tbody>
              <% @users.each do |user| %>
                <tr>
                  <td><div class="col-xs-6"><%= attachment_image_tag user, :profile_image, fallback: "no image.png", size:"100x100" %></div></td>
                  <td><div class="col-xs-6"><%= user.name %></div></td>
                  <td><div class="col-xs-6"><%= link_to "Show", user_path(user.id) %></div></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>